<head>
    <title>{{page-title}}</title>
    <meta charset="utf-8" />
    <meta name="author" content="{{author}}" />
    {{#description}}
        <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
        <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/highlight.css">
    <style type="text/css"></style>
</head>
