{{#categories}}
<body>
    <div class="profile">
        <section id="wrapper">
            <head id="header">
                <a href="/">
                    <img id="avatar" class="2x" src="/media/images/logo.png">
                </a>
                <h1>Your Names</h1>
                <h2>Your Sub Title<h2>
            </head>
        </section>
    </div>
<br />
<br />
    {{#posts}}
        <section id="wrapper" class="home">
            <ul class="post-list">
                <li>
                    <a href="{{post-uri}}">
                        <aside class="dates">{{mod-date}}</aside>
                    </a>
                    <a href="{{post-uri}}">{{post-title}}</a>
                </li>
            </ul>
        </section>
    {{/posts}}
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/media/js/main.js"></script>
    </body>
{{/categories}}
