<div>{{! content, do NOT indent}}
    <section id="wrapper">
        <article class="post">
            <header>
                {{#title}}
                    <h1>{{title}}</h1>
                {{/title}}
            </header>
            <br />
            <section id="post-body">
                {{{content}}}
            </section>
    </section>
</div>
