<section id="content" role="main">
    <h1>{{cat-name}}</h1>
    <ul class="org-ul">
      {{#posts}}
        <li>{{date}} &raquo; <a href="{{post-uri}}">{{post-title}}</a></li>
      {{/posts}}
    </ul>
</section>