<section id="content" role="main">
    <h1>Tags</h1>
    <ul class="org-ul">
      {{#tags}}
        <li><a href="{{tag-uri}}">{{tag-name}}</a> <span class="count">{{count}}</span></li>
      {{/tags}}
    </ul>
</section>
