* {
    margin: 0;
    padding: 0;
}
html {
    background: url("../img/bg.png") repeat scroll 0 0 #FFFFFF;
    color: #404040;
}
body, button, input, select, textarea {
    font: 14px/1.5 "Helvetica Neue",arial,sans-serif;
}
body {
    min-width: 970px;
    padding-top: 47px;
    /*color: #404040;
    font-family: \"Helvetica Neue\",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;*/

}
a {
    color: #578CCA;
    text-decoration: none;
}
a:hover {
    color: #6A99D0;
    text-decoration: underline;
}
#preamble {
    content: \"\";
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    overflow: visible;
    z-index: 1727;
    position:fixed;
    background: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)) repeat scroll 0 0 transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    background:rgba(0,0,0,0.8);
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0.6)), color-stop(100%, rgba(0,0,0,0.8)));
    background:-webkit-linear-gradient(top, rgba(0,0,0,0.6),rgba(0,0,0,0.8));
    background:-moz-linear-gradient(top, rgba(0,0,0,0.6),rgba(0,0,0,0.8));
    background:-o-linear-gradient(top, rgba(0,0,0,0.6),rgba(0,0,0,0.8));
    background:linear-gradient(top, rgba(0,0,0,0.6),rgba(0,0,0,0.8));
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
    box-shadow:0 1px 2px rgba(0,0,0,0.5);
}
#nav-list {
    margin: 0 auto;
    width: 970px;
    padding: 0;
}
#nav-list li {
    /*float: left;*/
    display: inline;
    list-style: none outside none;
    padding: 0;
}
#nav-list a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
#nav-list a {
    -moz-transition: background-color 0.3s ease-in-out 0s;
    color: #CCCCCC;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
    padding: 0 15px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
/*********************************************************************************************************/
.todo   { color: red; }
.done   { color: green; }
.tag    { background-color: #add8e6; font-weight:normal }
.target { }
.timestamp { color: #bebebe; }
.timestamp-kwd { color: #5f9ea0; }
.right  {margin-left:auto; margin-right:0px;  text-align:right;}
.left   {margin-left:0px;  margin-right:auto; text-align:left;}
.center {margin-left:auto; margin-right:auto; text-align:center;}
p.verse { margin-left: 3% }
pre {
    background: none repeat scroll 0 0 #073642;
    /*background-color: #F3F5F7;*/
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 0 5px 5px 0;
    border-style: solid;
    border-width: 0 0 0 7px;
    /*border-width: 1px 1px 1px 7px;*/
    border-color: #7A7F7E;
    /*border-color: #AEBDCC;*/
    color: #839496;
    padding: 8px 12px;
    margin: 10px;
    font-family: courier, monospace;
    font-size: 90%;
    overflow:auto;
}
table { border-collapse: collapse; }
td, th { vertical-align: top;  }
th.right  { text-align:center;  }
th.left   { text-align:center;   }
th.center { text-align:center; }
td.right  { text-align:right;  }
td.left   { text-align:left;   }
td.center { text-align:center; }
dt { font-weight: bold; }
div.figure { padding: 0.5em; }
div.figure p { text-align: center; }
div.inlinetask {
    padding:10px;
    border:2px solid gray;
    margin:10px;
    background: #ffffcc;
}
textarea { overflow-x: auto; }
.linenr { font-size:smaller }
.code-highlighted {background-color:#ffff00;}
.org-info-js_info-navigation { border-style:none; }
#org-info-js_console-label { font-size:10px; font-weight:bold;
                             white-space:nowrap; }
.org-info-js_search-highlight {background-color:#ffff00; color:#000000;
                               font-weight:bold; }
/*********************************************************************************************************/
div#content {
    margin: 0px auto;
    width: 970px;
    padding-left: 20px;
    padding-right: 20px;
    background: none repeat scroll 0 0 #F#F5F7;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
    /*text-align: left;*/
}
div#post-meta {
    background: none repeat scroll 0 0 #F3F5F7;
    margin: 2px auto 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
    padding: 5px 20px;
    font-size: 130%;
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    width: 970px;
}
div#footer {
    border-top: 1px solid black;
    text-align: center;
    margin-top: 50px;
    padding: 10px 0 20px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
    /*margin-bottom: 10px;
    min-height: 15px;
    padding-top: 10px;*/
}
h1.title {
    text-align: center;
    font-size: 27px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    margin: 20px 0;
}
.outline-2 {
    margin: 5px 0;
}
.outline-3 {
    padding: 5px 0 5px 17px;
}
.outline-text-2, .outline-text-3 {
    padding: 0 0 0 17px;
}
ul, ol {
    list-style-position: inside;
    padding-left: 17px;
}
form {
    display: inline;
}
.search {
    -moz-transition: background-color 0.15s ease-in-out 0s;
    background-color: #F4F4F4;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 22px 22px 22px 22px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
    color: #666666;
    float: right;
    height: 16px;
    /*line-height: 1;
     outline: medium none;*/
    margin: 3px 37px 0 0;
    padding: 3px 10px;
    width: 200px;
}
.search:hover, .search:focus {
    background-color: #E8E8E8;
}
.github {
    background: url("../img/forkme.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 0;
    height: 149px;
    width: 149px;
    right: 0;
    top: 31px;
    position: fixed;
    overflow: hidden;
}
code {
    color: #602020;
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #E1E1E8;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    /*font-size: 14px;*/
    padding: 0 3px;
}
.post-info > a {
    background-color: #D9EDF7;
    border: 1px solid #BCE8F1;
    border-radius: 4px 4px 4px 4px;
    color: #3A87AD;
    /*display: inline-block;*/x
    padding: 0 5px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    margin: 0 5px 0 0;
}
.post-info > a:hover {
    background-color: #C8DCE6;
    text-decoration: none;
}
.fucking-ie {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}