<h1><a href=\"%p\">%h</a></h1>
<nav id=\"main-nav\">
  <ul id=\"nav-list-main\">
    <li><a href=\"%s\" class=\"menu\">Sitemap</a></li>
    <li><a href=\"%c\" class=\"menu\">Categories</a></li>
    <li><a href=\"%t\" class=\"menu\">Tags</a></li>
    <li><a href=\"%r\" class=\"menu\">Recent Posts</a></li>
    <li><a href=\"%a\" class=\"menu\">About</a></li>
  </ul>
</nav>
<nav id=\"sub-nav\" class=\"align-right\">
  <div class=\"social\">
    <a class=\"github\" title=\"GitHub\" href=\"%g\">GitHub</a>
    <!-- TODO: change the link below to proper value  -->
    <a class=\"rss\" title=\"RSS(TODO)\" href=\"TODO\">RSS</a>
  </div>
  <form class=\"search\" target=\"_blank\" method=\"get\" action=\"http://google.com/search\">
    <input type=\"hidden\" value=\"site:%u\" name=\"q\" />
    <input type=\"text\" class=\"align-right\" results=\"0\" name=\"q\" />
  </form>
</nav>
