<hgroup id="header">
  <h1><a href="/">%m</a></h1>
  <h2>%s</h2>
</hgroup>
<nav id="main-nav">
  <ul id="nav-list-main">
    <li><a href="%b" class="menu">Blog</a></li>
    <li><a href="%w" class="menu">Wiki</a></li>
    <li><a href="%t" class="menu">Tags</a></li>
    <li><a href="%a" class="menu">About</a></li>
  </ul>
</nav>
<nav id="sub-nav" class="align-right">
  <div class="social">
    <a class="github" title="GitHub" href="%g">GitHub</a>
    <!-- TODO: change the link below to proper value  -->
    <a class="rss" title="RSS(TODO)" href="TODO">RSS</a>
  </div>
  <form class="search" target="_blank" method="get" action="http://google.com/search">
    <input type="hidden" value="site:%u" name="q" />
    <input type="text" class="align-right" results="0" name="q" />
  </form>
</nav>
