{{#show-meta-info}}
<aside id="meta">
  <span title="post date" class="post-info">{{{creation-date}}}</span>
  <span title="last modification date" class="post-info">{{modification-date}}</span>
  <span title="tags" class="post-info">{{{tags}}}</span>
  <span title="author" class="post-info">{{author}}</span>
</aside>
{{/show-meta-info}}

<footer id="footer">
    Send comments, critique and suggestions to <a href="mailto:{{email}}">{{author}}</a>.
    Powered by <a href="https://github.com/kelvinh/org-page">org-page</a>
</footer>
