<header id="header">
  <h1 class="title"><a href="/">{{site-main-title}}</a></h1>
  <ul>
    {{#nav-categories}}
    <li><a href="{{category-uri}}">{{category-name}}</a></li>
    {{/nav-categories}}
    <li><a href="/tags/">Tags</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
  <form method="get" id="search" action="https://duckduckgo.com">
    <input type="text" class="field" name="q" id="s" placeholder="Search">
    <input type="hidden" name="as_sitesearch" value="{{site-domain}}">
  </form>
</header>
