* {
    margin: 0;
    padding: 0;
}
body {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #666666;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
}
@font-face {
  font-family: "FontAwesome";
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
#preamble {
    border-bottom: 1px solid #DDDDDD;
    height: 30px;
    line-height: 30px;
    padding: 30px 0;
    width: 800px;
    margin: 0 auto;
}
#preamble h1 {
    float: left;
    font-size: 30px;
    font-weight: 300;
}
#main-nav {
    float: left;
    margin-left: 30px;
}
#main-nav > ul li {
    position: relative;
    -moz-box-orient: vertical;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}
a {
    color: #258FB8;
    outline-width: 0;
    text-decoration: none;
}
#preamble a {
    color: #666666;
    transition: color 0.3s ease 0s;
}
#main-nav > ul > li > a {
    margin-top: -38px;
    padding: 38px 0;
}
#main-nav > ul > li > a:after {
    color: #CCCCCC;
    /* content: ""; */
    content: "\f078";
    font: 12px FontAwesome;
    padding-left: 10px;
}
#main-nav > ul > li > a:only-child:after {
    content: "";
}
.align-right {
    float: right;
}
#sub-nav .social {
    float: left;
    margin-right: 15px;
}
#sub-nav .social a {
    -moz-box-orient: vertical;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    height: 28px;
    margin-right: 15px;
    opacity: 0.5;
    text-indent: -9999px;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    width: 28px;
}
#sub-nav .social a.github {
    background: url("../img/github.png") no-repeat scroll center center #AFB6CA;
    border: 1px solid #AFB6CA;
}
#sub-nav .social a.rss {
    background: url("../img/rss.png") no-repeat scroll center center #EF7522;
    border: 1px solid #EF7522;
}
#sub-nav .search:before {
    color: #CCCCCC;
    /* content: ""; */
    content: "\f002";
    font: 18px/30px FontAwesome;
    position: absolute;
    right: 127px;
    top: 2px;
}
#sub-nav .search {
    float: left;
    margin-top: 1px;
    position: relative;
}
#sub-nav .search input[type="text"] {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    color: #999999;
    font: 13px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 6px 15px 6px 35px;
    transition: all 0.3s ease 0s;
    width: 100px;
}
#content {
    margin: 0 auto;
    width: 800px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    padding: 30px 0;
    position: relative;
}
#content {
    line-height: 2;
    text-align: justify;
}
#content h1.title {
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 20px;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
hr {
    border: none;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #FFFFFF;
    height: 0;
    margin: 30px 0;
}
strong, b {
    font-weight: bold;
}
#content h2:before {
    border-bottom: 1px solid #FFFFFF;
    bottom: -2px;
    content: "";
    position: absolute;
    width: 100%;
}
#content h2 {
    border-bottom: 1px solid #DDDDDD;
    font-weight: 300;
    position: relative;
}
#content h3 {
    font-weight: 300;
    position: relative;
}
#content p, #content blockquote, #content ul, #content ol, #content dl, #content table, #content iframe, #content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content .video-container {
    margin-top: 10px;
}
#content ul, #content ol, #content dl {
    margin-left: 30px;
}
#content dl ul, #content dl ol, #content dl dl {
    margin-top: 0;
}
#content pre.src, #content pre.example {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    padding: 5px 15px;
    overflow-x: auto;
    line-height: 1.5;
    font-family: "Droid Sans Mono", Consolas, Monaco, "Courier New", monospace;
}
#content code {
    color: #666666;
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    /* display: inline-block; */
    display: inline;
    /*font-size: 14px;*/
    padding: 1px 3px;
    font-family: "Droid Sans Mono", Consolas, Monaco, "Courier New", monospace;
}
#content table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2.5;
    margin-top: 10px;
    /* border-top: 1px solid #CCCCCC; */
    max-width: 100%;
    width: 100%;
}
#content table th {
    background: none repeat scroll 0 0 #CCCCCC;
    padding: 0 15px;
}
#content table td {
    text-align: left;
    padding: 0 15px;
}
#post-meta {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    width: 800px;
    margin: 0 auto;
    padding: 15px 0;
    overflow: hidden;
}
#post-meta span {
    border-left: 2px solid #666666;
    margin-left: -2px;
    padding-right: 10px;
}
#post-meta .post-info:before {
    content: "\f073";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 10px;
}
#post-meta .update-info:before {
    content: "\f044";
    font-family: FontAwesome;
    font-size: 15px;
    padding: 0 10px;
}
#post-meta .category:before {
    content: "\f07b";
    font-family: FontAwesome;
    font-size: 15px;
    padding: 0 10px;
}
#post-meta .tags:before {
    content: "\f02c";
    font-family: FontAwesome;
    font-size: 15px;
    padding: 0 10px;
}
#post-meta .author:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 15px;
    padding: 0 10px;
}
#post-meta .org-source:before {
    content: "\f0c1";
    font-family: FontAwesome;
    font-size: 15px;
    padding: 0 10px;
}
#comment {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    width: 800px;
    margin: 0 auto;
    padding: 30px 0;
}
#comment h1.title {
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 20px;
}
#disqus_thread {
    margin-bottom: 10px;
}
#footer {
    border-top: 1px solid #FFFFFF;
    width: 800px;
    margin: 0 auto;
    font-size: 0.9em;
    text-align: center;
    padding: 30px 0;
}
.loading-center {
    background: url("../img/loading.gif") no-repeat scroll left center transparent;
    /* border: 1px solid black; */
    font-size: 2.0em;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 70px;
    margin-top: -25px;
    margin-left: -105px;
    width: 140px;
    height: 50px;
}
.fucking-ie {
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}