/* Pretty printing styles. Used with prettify.js.
 *
 * This version is slight modified based on the original version.
 *
 * Name:    Stanley Ng
 * Email:   stanleyhlng@googlegroups.com
 *
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln {
  color: #bd3613; }

.str {
  color: #48b3a8; }

.kwd {
  color: #a7bb22; }

.com {
  color: #7a8397;
  font-style: italic; }

.typ {
  color: #b58900; }

.lit {
  color: #2aa198; }

.pun {
  color: #a5b6b8; }

.opn {
  color: #a5b6b8; }

.clo {
  color: #a5b6b8; }

.tag {
  color: #48adf4; }

.atn {
  color: #7a8397; }

.atv {
  color: #2aa198; }

.dec {
  color: #48adf4; }

.var {
  color: #48adf4; }

.fun {
  color: #FF2222; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: #000000;
  padding: 10px;
  border: 1px solid #E1E1E8; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #4c666c;
  margin: 0 0 0 40px; }

ol.linenums li {
  line-height: 18px;
  padding-left: 12px; }
