<div>
  <div class="post">
    <h1>Author Index</h1>
    <ul class="org-ul">
      {{#authors}}
        <li><a href="{{author-uri}}">{{author-name}} ({{count}})</a></li>
      {{/authors}}
    </ul>
  </div>
</div>