{{#categories}}
  <div id="outline-container-sec-{{id}}" class="outline-2">
    <h2 id="sec-{{id}}">{{category}}</h2>
    <div class="outline-text-2" id="text-{{id}}">
      <ul class="org-ul">
        {{#posts}}
          <li><a href="{{post-uri}}">{{post-title}}</a></li>
        {{/posts}}
      </ul>
    </div>
  </div>
{{/categories}}