<!DOCTYPE html>
<html>
  <head>
    <title>{{page-title}}</title>
    <meta charset="utf-8" />
    <meta name="author" content="{{author}}" />
    {{#description}}
    <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    <link rel="stylesheet" href="/media/css/main.css" />
    {{!<script src="/media/js/main.js" async="async"></script>}}
  </head>
  <body>
    <div id="preamble">
      <hgroup id="header">
        <h1><a href="/">{{site-main-title}}</a></h1>
        <h2>{{site-sub-title}}</h2>
      </hgroup>
      <nav id="main-nav">
        <ul id="nav-list-main">
          <li><a href="{{blog-uri}}" class="menu">Blog</a></li>
          <li><a href="{{wiki-uri}}" class="menu">Wiki</a></li>
          <li><a href="{{tags-uri}}" class="menu">Tags</a></li>
          <li><a href="{{about-uri}}" class="menu">About</a></li>
        </ul>
      </nav>
      <nav id="sub-nav" class="align-right">
        <div class="social">
          <a class="github" title="GitHub" href="{{github}}">GitHub</a>
          {{! TODO: change the link below to proper value }}
          <a class="rss" title="RSS(TODO)" href="TODO">RSS</a>
        </div>
        <form class="search" target="_blank" method="get" action="http://google.com/search">
          <input type="hidden" value="site:{{site-domain}}" name="q" />
          <input type="text" class="align-right" results="0" name="q" />
        </form>
      </nav>
    </div>

    <div id="content">
      {{#title}}
      <h1 class="title">{{title}}</h1>
      {{/title}}
      {{{content}}}
    </div>

    <div id="postamble">
      {{#show-meta-info}}
      <div id="post-meta">
        <span title="post date" class="post-info">{{{creation-date}}}</span>
        <span title="last modification date" class="update-info">{{modification-date}}</span>
        <span title="tags" class="tags">{{{tags}}}</span>
        <span title="author" class="author">{{author}}</span>
      </div>
      {{/show-meta-info}}

      {{#show-comment}}
      <section id="comment">
        <h1 class="title">Comments</h1>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          //var disqus_developer = 1;
          var disqus_identifier = "{{disqus-id}}";
          var disqus_url = "{{disqus-url}}";
          var disqus_shortname = '{{disqus-shortname}}';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </section>
      {{/show-comment}}

      {{#google-analytics}}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{google-analytics-id}}']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      {{/google-analytics}}

      <div id="footer">
        <p class="creator">Generated by {{{creator-info}}}</p>
        <p class="copyright"> {{! TODO the hard coded info }}
          Copyright &copy; 2012 - 2013 <a href="mailto:{{email}}">{{author}}</a>
          &nbsp;&nbsp;-&nbsp;&nbsp;
          Powered by <a href="https://github.com/kelvinh/org-page" target="_blank">org-page</a>
        </p>
      </div>
    </div>
  </body>
</html>
